<div class="column_l">
	    <div class="gywm">
		    <h4>{aspcms:type sort=1}[type:name]{/aspcms:type}</h4>
			<ul>
            {aspcms:navlist type=1}
			    <li><a href="[navlist:link]">[navlist:name]</a></li>
            {/aspcms:navlist}

			</ul>
		</div>
		<span class="height_10"></span>
		<div class="lxfs">
		    <h4>联系方式</h4>
			<p>
			地  址：{aspcms:companyaddress}<br />
			电  话：{aspcms:companyphone}<br />
			传  真：{aspcms:companyfax}<br />
			邮  箱：{aspcms:companyemail}<br />
			</p>
		</div>
		<p class="message">{aspcms:type sort=18}<a href="[type:link]" title="[type:name]">[type:name]</a>{/aspcms:type}</p>
	</div>