BODY {
	FONT-SIZE: 12px; BACKGROUND: url(../images/top.png) #fff repeat-x center top; MARGIN: 0px auto; COLOR: #333; FONT-FAMILY: 'ËÎÌו',Arial,Verdana,Sans-Serif
}
DIV {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px auto; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
FORM {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px auto; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
UL {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px auto; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
OL {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px auto; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
LI {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px auto; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
SPAN {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px auto; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
P {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px auto; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
IMG {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-TOP-STYLE: none; PADDING-TOP: 0px; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
A IMG {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-TOP-STYLE: none; PADDING-TOP: 0px; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
UL {
	LIST-STYLE-TYPE: none
}
OL {
	LIST-STYLE-TYPE: none
}
LI {
	LIST-STYLE-TYPE: none
}
TABLE {
	FONT-SIZE: 12px
}
TD {
	FONT-SIZE: 12px
}
INPUT {
	FONT-SIZE: 12px
}
H1 {
	MARGIN: 0px auto
}
H2 {
	MARGIN: 0px auto
}
H3 {
	MARGIN: 0px auto
}
H4 {
	MARGIN: 0px auto
}
H5 {
	MARGIN: 0px auto
}
H6 {
	MARGIN: 0px auto
}
H1 {
	FONT-SIZE: 28px
}
H2 {
	FONT-SIZE: 22px
}
H3 {
	FONT-SIZE: 16px
}
H4 {
	FONT-SIZE: 14px
}
H5 {
	FONT-SIZE: 14px
}
H6 {
	FONT-SIZE: 14px
}
.clear {
	CLEAR: both; MARGIN-TOP: -1px; FONT-SIZE: 1px; VISIBILITY: hidden; WIDTH: 1px; LINE-HEIGHT: 0; HEIGHT: 0px
}
A:link {
	COLOR: #353535; TEXT-DECORATION: none; outline-style: none
}
A:visited {
	COLOR: #353535; TEXT-DECORATION: none; outline-style: none
}
A:hover {
	COLOR: #0b3779; TEXT-DECORATION: underline
}
.wrapper {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px auto; WIDTH: 960px; PADDING-TOP: 0px
}
.header {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px auto; WIDTH: 960px; PADDING-TOP: 0px
}
.logo {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 32px; FLOAT: left; PADDING-BOTTOM: 10px; PADDING-TOP: 30px
}

.headerR {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: right; PADDING-BOTTOM: 15px; WIDTH: 450px; PADDING-TOP: 15px
}
.mini_func {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FLOAT: right; PADDING-BOTTOM: 20px; PADDING-TOP: 0px
}
.flag {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.homepage {
	PADDING-RIGHT: 0px;
}
.favicon {
	PADDING-RIGHT: 0px; 
}
.homepage {
}
.favicon {
}
.search {
	FLOAT: right; MARGIN: 5px 0px 12px; WIDTH: 245px; POSITION: relative
}
.searchInput {
	BORDER-RIGHT: #a0a0a0 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #a0a0a0 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 1px; BORDER-LEFT: #a0a0a0 1px solid; WIDTH: 180px; LINE-HEIGHT: 16px; PADDING-TOP: 3px; BORDER-BOTTOM: #a0a0a0 1px solid; HEIGHT: 16px; BACKGROUND-COLOR: #fff
}
.searchBtn {
	BACKGROUND: url(../images/bg.png) no-repeat right -48px; WIDTH: 48px; CURSOR: pointer; BORDER-TOP-STYLE: none; LINE-HEIGHT: 22px; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; HEIGHT: 22px; TEXT-ALIGN: center; BORDER-BOTTOM-STYLE: none
}
.navigation {
	BACKGROUND: url(../images/bg.png) no-repeat 0px 0px; FLOAT: left; MARGIN: 5px 0px 0px; OVERFLOW: visible; WIDTH: 960px; HEIGHT: 36px
}
.menu {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; Z-INDEX: 300; FLOAT: left; PADDING-BOTTOM: 1px; WIDTH: 940px; PADDING-TOP: 1px; POSITION: relative; HEIGHT: 34px
}
.menu LI {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-WEIGHT: bold; FONT-SIZE: 14px; BACKGROUND: url(../images/bg.png) no-repeat left -43px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; WHITE-SPACE: nowrap; TEXT-ALIGN: center
}
.menu LI.homepage {
	BACKGROUND: none transparent scroll repeat 0% 0%
}
.menu LI A:link {
	PADDING-RIGHT: 10px; DISPLAY: block; PADDING-LEFT: 14px; PADDING-BOTTOM: 9px; MARGIN: 0px; COLOR: #fff; PADDING-TOP: 10px; TEXT-DECORATION: none
}
.menu LI A:visited {
	PADDING-RIGHT: 10px; DISPLAY: block; PADDING-LEFT: 14px; PADDING-BOTTOM: 9px; MARGIN: 0px; COLOR: #fff; PADDING-TOP: 10px; TEXT-DECORATION: none
}
.menu LI A:hover {
	COLOR: #ff0; TEXT-DECORATION: underline
}
.menu LI.current_page_item A:link {
	COLOR: #ff0
}
.menu LI.current_page_item A:visited {
	COLOR: #ff0
}
.menu LI.current_page_item A:hover {
	COLOR: #ff0
}
.menu LI.current-menu-item A:link {
	COLOR: #ff0
}
.menu LI.current-menu-item A:visited {
	COLOR: #ff0
}
.menu LI.current-menu-item A:hover {
	COLOR: #ff0
}
.menu UL {
	Z-INDEX: 300; POSITION: relative; BACKGROUND-COLOR: #0a65c7
}
.menu LI {
	POSITION: relative
}
.menu LI UL {
	PADDING-RIGHT: 10px; DISPLAY: none; PADDING-LEFT: 10px; LEFT: -5px; PADDING-BOTTOM: 0px; WIDTH: 120px; PADDING-TOP: 0px; POSITION: absolute; TOP: 32px
}
.menu LI UL LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; PADDING-BOTTOM: 0px; MARGIN: 0px auto; WIDTH: 120px; PADDING-TOP: 7px; BORDER-BOTTOM: #094d97 1px solid
}
.menu LI UL LI A:hover {
	BACKGROUND: url(../images/bg.png) no-repeat -5px -43px; COLOR: #ff0; TEXT-DECORATION: underline
}
.banner {
	FLOAT: left; MARGIN: 10px auto; OVERFLOW: hidden; WIDTH: 960px; HEIGHT: 200px
}
.banner IMG {
	WIDTH: 960px; HEIGHT: 200px
}
.slideshow {
	BORDER-RIGHT: #ccc 1px solid; BORDER-TOP: #ccc 1px solid; FLOAT: left; MARGIN: 15px auto; OVERFLOW: hidden; BORDER-LEFT: #ccc 1px solid; WIDTH: 958px; BORDER-BOTTOM: #ccc 1px solid; POSITION: relative; HEIGHT: 260px
}
#showimg {
	Z-INDEX: 10
}
#showimg IMG {
	DISPLAY: block; WIDTH: 958px; HEIGHT: 260px
}
.opacity {
	Z-INDEX: 99; FILTER: alpha(opacity=50); LEFT: 0px; FLOAT: left; OVERFLOW: hidden; WIDTH: 958px; BOTTOM: 0px; POSITION: absolute; HEIGHT: 30px; BACKGROUND-COLOR: #f0f0f0; moz-opacity: 0.5; opacity: 0.5
}
.operate {
	Z-INDEX: 1000; RIGHT: 3px; BOTTOM: 3px; POSITION: absolute
}
.operate SPAN {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FONT-WEIGHT: bold; FLOAT: left; PADDING-BOTTOM: 1px; MARGIN-LEFT: 1px; CURSOR: pointer; COLOR: #000; LINE-HEIGHT: 22px; PADDING-TOP: 1px; HEIGHT: 22px; TEXT-ALIGN: center
}
.operate SPAN.hov {
	COLOR: #fff; BACKGROUND-COLOR: #0962c6
}
#msg {
	Z-INDEX: 100; LEFT: 0px; FLOAT: left; OVERFLOW: hidden; WIDTH: 958px; BOTTOM: 0px; LINE-HEIGHT: 26px; POSITION: absolute; HEIGHT: 26px
}
#msg LI {
	DISPLAY: block; PADDING-LEFT: 14px; FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #004c94; LINE-HEIGHT: 24px; HEIGHT: 24px; TEXT-ALIGN: left
}
.featured {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px auto; OVERFLOW: hidden; WIDTH: 960px; PADDING-TOP: 0px
}
.featured H2 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 14px; BACKGROUND: url(../images/bg.png) no-repeat 0px -93px; MARGIN-BOTTOM: 15px; PADDING-BOTTOM: 6px; OVERFLOW: hidden; WIDTH: 100%; TEXT-INDENT: 5px; PADDING-TOP: 6px
}
.featured H2 SPAN {
	PADDING-RIGHT: 10px; FONT-WEIGHT: normal; FONT-SIZE: 12px; FLOAT: right
}
.featured H2 A:link {
	COLOR: #1678d1; TEXT-DECORATION: none
}
.featured H2 A:visited {
	COLOR: #1678d1; TEXT-DECORATION: none
}
.featured H2 A:hover {
	COLOR: #0b3779
}
.featured H2 SPAN A:link {
	COLOR: #7f7f7f; TEXT-DECORATION: none
}
.featured H2 SPAN A:visited {
	COLOR: #7f7f7f; TEXT-DECORATION: none
}
.featured H2 SPAN A:hover {
	COLOR: #0b3779; TEXT-DECORATION: underline
}
.news {
	FLOAT: left; OVERFLOW: hidden; WIDTH: 320px
}
.news UL {
	MARGIN-TOP: 8px
}
.news UL LI {
	PADDING-RIGHT: 5px; PADDING-LEFT: 10px; BACKGROUND: url(../images/spot.gif) no-repeat 0px 5px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 6px 0px; OVERFLOW: hidden; WIDTH: 305px; LINE-HEIGHT: 14px; PADDING-TOP: 0px; HEIGHT: 14px
}
.news UL LI A {
	FLOAT: left; OVERFLOW: hidden; WIDTH: 240px
}
.news UL LI SPAN {
	FLOAT: right; WIDTH: 60px; COLOR: #666
}
.products {
	FLOAT: left; MARGIN: 0px 14px; OVERFLOW: hidden; WIDTH: 330px
}
.products UL {
	MARGIN: 0px
}
.products UL LI {
	PADDING-RIGHT: 2px; PADDING-LEFT: 6px; FLOAT: left; MARGIN-BOTTOM: 8px; PADDING-BOTTOM: 0px; OVERFLOW: hidden; WIDTH: 155px; PADDING-TOP: 0px; HEIGHT: 140px
}
.products UL LI IMG {
	BORDER-RIGHT: #e4e4e4 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: #e4e4e4 1px solid; PADDING-LEFT: 1px; PADDING-BOTTOM: 1px; BORDER-LEFT: #e4e4e4 1px solid; WIDTH: 150px; PADDING-TOP: 1px; BORDER-BOTTOM: #e4e4e4 1px solid; HEIGHT: 110px
}
.products UL LI .product_name {
	DISPLAY: block; OVERFLOW: hidden; WIDTH: 150px; LINE-HEIGHT: 15px; HEIGHT: 15px; TEXT-ALIGN: center
}
.profile {
	FLOAT: right; OVERFLOW: hidden; WIDTH: 260px
}
.about-us {
	PADDING-RIGHT: 8px; PADDING-LEFT: 8px; PADDING-BOTTOM: 2px; OVERFLOW: hidden; TEXT-INDENT: 12px; LINE-HEIGHT: 21px; PADDING-TOP: 2px; HEIGHT: 275px
}
.profile P {
	MARGIN-BOTTOM: 8px
}
.profile IMG {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 0px; PADDING-TOP: 5px
}
.breadcrumb {
	PADDING-RIGHT: 0px; PADDING-LEFT: 5px; FONT-SIZE: 12px; PADDING-BOTTOM: 4px; COLOR: #666; PADDING-TOP: 0px; BORDER-BOTTOM: #ddd 1px solid
}
.breadcrumb A:link {
	COLOR: #666; TEXT-DECORATION: none
}
.breadcrumb A:visited {
	COLOR: #666; TEXT-DECORATION: none
}
.breadcrumb A:hover {
	COLOR: #333; TEXT-DECORATION: underline
}
.container {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px auto; OVERFLOW: hidden; WIDTH: 960px; PADDING-TOP: 0px
}
.containerTop {
	BACKGROUND: url(../images/container.png) no-repeat center top; WIDTH: 960px; HEIGHT: 20px
}
.containerContent {
	BORDER-RIGHT: #ddd 1px solid; PADDING-RIGHT: 10px; BORDER-TOP: #ddd 1px; PADDING-LEFT: 10px; BACKGROUND: url(../images/line_sidebar.png) no-repeat 265px top; FLOAT: left; PADDING-BOTTOM: 10px; BORDER-LEFT: #ddd 1px solid; WIDTH: 938px; PADDING-TOP: 0px; BORDER-BOTTOM: #ddd 1px solid
}
.homeContent {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; BACKGROUND: none transparent scroll repeat 0% 0%; PADDING-BOTTOM: 10px; PADDING-TOP: 0px
}
.content {
	FLOAT: right; OVERFLOW: hidden; WIDTH: 670px
}
.posts {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 0px; OVERFLOW: hidden; WIDTH: 655px; LINE-HEIGHT: 22px; PADDING-TOP: 0px
}
.posts P {
	MARGIN-BOTTOM: 10px
}
.single {
	PADDING-RIGHT: 15px; PADDING-LEFT: 15px; PADDING-BOTTOM: 0px; WIDTH: 645px; PADDING-TOP: 0px
}
.single H2 {
	FONT-SIZE: 18px; PADDING-BOTTOM: 10px; MARGIN: 20px 0px; COLOR: #222; BORDER-BOTTOM: #ddd 1px solid; TEXT-ALIGN: center
}
.postlist {
	MARGIN: 15px 0px 0px
}
.postlist LI {
	PADDING-LEFT: 12px; BACKGROUND: url(../images/arrow.gif) no-repeat 0px 14px; FLOAT: left; WIDTH: 640px; LINE-HEIGHT: 32px; BORDER-BOTTOM: #ddd 1px dashed; HEIGHT: 32px
}
.postlist LI H3 {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; FLOAT: left; WIDTH: 500px
}
.postlist LI SPAN {
	FLOAT: right; WIDTH: 80px; COLOR: #666; TEXT-ALIGN: right
}
.productlist {
	MARGIN-TOP: 20px
}
.productlist LI {
	PADDING-RIGHT: 6px; PADDING-LEFT: 6px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 5px 0px 10px; OVERFLOW: hidden; WIDTH: 205px; PADDING-TOP: 0px; HEIGHT: 190px
}
.productlist LI IMG {
	BORDER-RIGHT: #e4e4e4 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #e4e4e4 1px solid; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; BORDER-LEFT: #e4e4e4 1px solid; WIDTH: 200px; PADDING-TOP: 2px; BORDER-BOTTOM: #e4e4e4 1px solid; HEIGHT: 160px
}
.productlist LI .product_name {
	DISPLAY: block; OVERFLOW: hidden; WIDTH: 200px; LINE-HEIGHT: 15px; HEIGHT: 15px; TEXT-ALIGN: center
}
.sidebar {
	FLOAT: left; OVERFLOW: hidden; WIDTH: 250px
}
.sidebar H3 {
	PADDING-RIGHT: 5px; PADDING-LEFT: 10px; FONT-SIZE: 14px; BACKGROUND: url(../images/bg.png) no-repeat 0px -131px; FLOAT: left; PADDING-BOTTOM: 6px; WIDTH: 230px; COLOR: #0b3779; PADDING-TOP: 8px
}
.sidebar UL {
	FLOAT: left; WIDTH: 250px
}
.sidebar UL LI {
	FLOAT: left; MARGIN-BOTTOM: 20px
}
.sidebar UL LI.widget_text {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.sidebar UL LI.widget DIV {
	CLEAR: both; PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 0px; LINE-HEIGHT: 20px; PADDING-TOP: 15px
}
.sidebar UL LI UL {
	MARGIN-TOP: 15px; FLOAT: left
}
.sidebar UL LI UL LI {
	PADDING-LEFT: 10px; BACKGROUND: url(../images/spot.gif) no-repeat 0px 6px; MARGIN: 6px 4px 5px; OVERFLOW: hidden; WIDTH: 230px
}
.sidebar UL LI UL LI UL {
	MARGIN-TOP: 5px; WIDTH: 230px; BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
.sidebar UL LI UL.sub LI {
	PADDING-LEFT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%
}
.sidebar UL LI UL.sub LI A:link {
	PADDING-RIGHT: 5px; DISPLAY: block; PADDING-LEFT: 22px; FONT-WEIGHT: bold; BACKGROUND: url(../images/arrow.gif) no-repeat 10px 7px; PADDING-BOTTOM: 10px; WIDTH: 210px; COLOR: #333; PADDING-TOP: 2px; BORDER-BOTTOM: #e6e6e6 1px solid; TEXT-DECORATION: none
}
.sidebar UL LI UL.sub LI A:visited {
	PADDING-RIGHT: 5px; DISPLAY: block; PADDING-LEFT: 22px; FONT-WEIGHT: bold; BACKGROUND: url(../images/arrow.gif) no-repeat 10px 7px; PADDING-BOTTOM: 10px; WIDTH: 210px; COLOR: #333; PADDING-TOP: 2px; BORDER-BOTTOM: #e6e6e6 1px solid; TEXT-DECORATION: none
}
.sidebar UL LI UL.sub LI A:hover {
	BACKGROUND: url(../images/arrow_hover.gif) no-repeat 10px 7px; COLOR: #0b3779; BORDER-BOTTOM: #ccc 1px solid
}
.sidebar UL LI UL.sub .current_page_item {
	BACKGROUND: url(../images/arrow_hover.gif) no-repeat 10px 7px; BORDER-BOTTOM: #ccc 1px solid
}
.sidebar UL LI UL.sub .current_page_item A:link {
	FONT-WEIGHT: bold; BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #0b3779
}
.sidebar UL LI UL.sub .current_page_item A:visited {
	FONT-WEIGHT: bold; BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #0b3779
}
.sidebar UL LI UL.sub .current_page_item A:hover {
	FONT-WEIGHT: bold; BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #0b3779
}
#wp-calendar {
	WIDTH: 100%
}
#wp-calendar CAPTION {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px
}
#wp-calendar TH {
	BORDER-RIGHT: #e6e6e6 1px solid; PADDING-RIGHT: 6px; BORDER-TOP: #e6e6e6 1px solid; PADDING-LEFT: 6px; PADDING-BOTTOM: 4px; TEXT-TRANSFORM: capitalize; BORDER-LEFT: #e6e6e6 1px solid; COLOR: #555; PADDING-TOP: 4px; BORDER-BOTTOM: #e6e6e6 1px solid; BACKGROUND-COLOR: #f9f9f9; TEXT-ALIGN: center
}
#wp-calendar TD {
	BORDER-RIGHT: #e6e6e6 1px solid; PADDING-RIGHT: 6px; BORDER-TOP: #e6e6e6 1px solid; PADDING-LEFT: 6px; PADDING-BOTTOM: 4px; TEXT-TRANSFORM: capitalize; BORDER-LEFT: #e6e6e6 1px solid; COLOR: #555; PADDING-TOP: 4px; BORDER-BOTTOM: #e6e6e6 1px solid; BACKGROUND-COLOR: #f9f9f9; TEXT-ALIGN: center
}
#wp-calendar TBODY TR TD A:link {
	FONT-WEIGHT: bold; COLOR: #006600
}
#wp-calendar TBODY TR TD A:visited {
	FONT-WEIGHT: bold; COLOR: #006600
}
#wp-calendar TBODY TR TD A:hover {
	COLOR: #0c262c
}
#wp-calendar TBODY TR TD:hover {
	BORDER-RIGHT: #fadd85 1px solid; BORDER-TOP: #fadd85 1px solid; BORDER-LEFT: #fadd85 1px solid; CURSOR: pointer; COLOR: #0c262c; BORDER-BOTTOM: #fadd85 1px solid; BACKGROUND-COLOR: #fef7e0
}
#wp-calendar TFOOT TR TD {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; BACKGROUND: none transparent scroll repeat 0% 0%; PADDING-BOTTOM: 0px; BORDER-TOP-STYLE: none; PADDING-TOP: 8px; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
.pad {
	BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-TOP-STYLE: none! important; BORDER-RIGHT-STYLE: none! important; BORDER-LEFT-STYLE: none! important; BORDER-BOTTOM-STYLE: none! important
}
.pageNavi {
	PADDING-RIGHT: 0px; BORDER-TOP: #ddd 1px solid; PADDING-LEFT: 0px; PADDING-BOTTOM: 25px; MARGIN: 10px auto 0px; WIDTH: 98%; PADDING-TOP: 10px; TEXT-ALIGN: center
}
.wp-pagenavi {
	MARGIN: 0px auto; PADDING-TOP: 15px
}
.wp-pagenavi A {
	BORDER-RIGHT: #ccc 1px solid; PADDING-RIGHT: 8px! important; BORDER-TOP: #ccc 1px solid; PADDING-LEFT: 8px! important; PADDING-BOTTOM: 4px! important; MARGIN: 2px; BORDER-LEFT: #ccc 1px solid; COLOR: #333! important; PADDING-TOP: 4px! important; BORDER-BOTTOM: #ccc 1px solid; TEXT-DECORATION: none! important
}
.wp-pagenavi A:link {
	BORDER-RIGHT: #ccc 1px solid; PADDING-RIGHT: 8px! important; BORDER-TOP: #ccc 1px solid; PADDING-LEFT: 8px! important; PADDING-BOTTOM: 4px! important; MARGIN: 2px; BORDER-LEFT: #ccc 1px solid; COLOR: #333! important; PADDING-TOP: 4px! important; BORDER-BOTTOM: #ccc 1px solid; TEXT-DECORATION: none! important
}
.wp-pagenavi A:visited {
	BORDER-RIGHT: #ccc 1px solid; PADDING-RIGHT: 8px! important; BORDER-TOP: #ccc 1px solid; PADDING-LEFT: 8px! important; PADDING-BOTTOM: 4px! important; MARGIN: 2px; BORDER-LEFT: #ccc 1px solid; COLOR: #333! important; PADDING-TOP: 4px! important; BORDER-BOTTOM: #ccc 1px solid; TEXT-DECORATION: none! important
}
.wp-pagenavi A:hover {
	FONT-WEIGHT: bold! important; COLOR: #0b3779! important; BACKGROUND-COLOR: #eee! important
}
.wp-pagenavi A:active {
	BORDER-RIGHT: #ccc 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #ccc 1px solid; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; MARGIN: 2px; BORDER-LEFT: #ccc 1px solid; PADDING-TOP: 2px; BORDER-BOTTOM: #ccc 1px solid; TEXT-DECORATION: none
}
.wp-pagenavi SPAN.pages {
	BORDER-RIGHT: #ccc 1px solid; PADDING-RIGHT: 8px! important; BORDER-TOP: #ccc 1px solid; PADDING-LEFT: 8px! important; PADDING-BOTTOM: 4px! important; MARGIN: 2px; BORDER-LEFT: #ccc 1px solid; COLOR: #454545! important; PADDING-TOP: 4px! important; BORDER-BOTTOM: #ccc 1px solid
}
.wp-pagenavi SPAN.extend {
	BORDER-RIGHT: #ccc 1px solid; PADDING-RIGHT: 8px! important; BORDER-TOP: #ccc 1px solid; PADDING-LEFT: 8px! important; PADDING-BOTTOM: 4px! important; MARGIN: 2px; BORDER-LEFT: #ccc 1px solid; COLOR: #454545! important; PADDING-TOP: 4px! important; BORDER-BOTTOM: #ccc 1px solid
}
.wp-pagenavi SPAN.current {
	BORDER-RIGHT: #aaa 1px solid; PADDING-RIGHT: 8px! important; BORDER-TOP: #aaa 1px solid; PADDING-LEFT: 8px! important; PADDING-BOTTOM: 4px! important; MARGIN: 2px; BORDER-LEFT: #aaa 1px solid; COLOR: #000! important; PADDING-TOP: 4px! important; BORDER-BOTTOM: #aaa 1px solid; BACKGROUND-COLOR: #eee! important
}
.pageleft {
	OVERFLOW: hidden; WIDTH: 300px; LINE-HEIGHT: 24px; HEIGHT: 24px
}
.pageright {
	OVERFLOW: hidden; WIDTH: 300px; LINE-HEIGHT: 24px; HEIGHT: 24px
}
.pageleft {
	PADDING-LEFT: 10px; FLOAT: left; TEXT-ALIGN: left
}
.pageright {
	PADDING-RIGHT: 10px; FLOAT: right; TEXT-ALIGN: right
}
.post_comment {
	FLOAT: left; MARGIN: 15px 0px 5px; OVERFLOW: hidden; WIDTH: 100%
}
#addcomment {
	BORDER-RIGHT: #ccc 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #ddd 1px solid; PADDING-LEFT: 0px; FONT-SIZE: 14px; BACKGROUND: #f5f5f5; FLOAT: left; PADDING-BOTTOM: 7px; MARGIN: 10px 0px; BORDER-LEFT: #ddd 1px solid; WIDTH: 99%; TEXT-INDENT: 15px; LINE-HEIGHT: 16px; PADDING-TOP: 8px; BORDER-BOTTOM: #bbb 1px solid
}
#comments {
	BORDER-RIGHT: #ccc 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #ddd 1px solid; PADDING-LEFT: 0px; FONT-SIZE: 14px; BACKGROUND: #f5f5f5; FLOAT: left; PADDING-BOTTOM: 7px; MARGIN: 10px 0px; BORDER-LEFT: #ddd 1px solid; WIDTH: 99%; TEXT-INDENT: 15px; LINE-HEIGHT: 16px; PADDING-TOP: 8px; BORDER-BOTTOM: #bbb 1px solid
}
.post_comment P {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FONT-SIZE: 12px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px
}
.post_comment OL LI {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 5px; MARGIN: 10px 5px; PADDING-TOP: 10px; LIST-STYLE-TYPE: none
}
.commentlist {
	CLEAR: both; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 12px; PADDING-BOTTOM: 5px; WIDTH: 98%; PADDING-TOP: 5px
}
.commentlist LI {
	BORDER-RIGHT: #e3e3e3 1px solid; BORDER-TOP: #e3e3e3 1px solid; MARGIN-BOTTOM: 10px; BORDER-LEFT: #e3e3e3 1px solid; PADDING-TOP: 5px; BORDER-BOTTOM: #e3e3e3 1px solid; BACKGROUND-COLOR: #fff
}
.commentlist LI.alt {
	BORDER-RIGHT: #ddd 1px solid; BORDER-TOP: #ddd 1px solid; BORDER-LEFT: #ddd 1px solid; BORDER-BOTTOM: #ddd 1px solid; BACKGROUND-COLOR: #f6f6f6
}
.commentlist LI.comment-author-admin {
	BACKGROUND: #f6f6f6
}
.commentlist LI UL {
	MARGIN: 10px
}
.commentlist LI UL.children {
	MARGIN: 10px 0px
}
.commentlist LI P {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px
}
.comment-author {
	PADDING-BOTTOM: 5px; WIDTH: 100%; BORDER-BOTTOM: #ececec 1px solid; HEIGHT: 30px
}
.avatar {
	BORDER-RIGHT: #e0e0e0 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: #e0e0e0 1px solid; PADDING-LEFT: 1px; FLOAT: left; PADDING-BOTTOM: 1px; BORDER-LEFT: #e0e0e0 1px solid; PADDING-TOP: 1px; BORDER-BOTTOM: #e0e0e0 1px solid
}
.author_info {
	PADDING-LEFT: 5px; FLOAT: left; COLOR: #888; LINE-HEIGHT: 16px
}
.author_info CITE {
	FONT-WEIGHT: bold; FONT-STYLE: normal
}
.author_info EM {
	FONT-SIZE: 10px
}
.reply {
	MARGIN-TOP: -3px; FLOAT: right
}
#cancel-comment-reply {
	FLOAT: right; MARGIN-RIGHT: 10px
}
.reply A {
	COLOR: #999
}
#cancel-comment-reply A {
	COLOR: #999
}
.reply A:hover {
	COLOR: #666
}
#cancel-comment-reply A:hover {
	COLOR: #666
}
#respond {
	PADDING-BOTTOM: 35px
}
#respond EM {
	COLOR: #ff0242
}
#author {
	BORDER-RIGHT: #ccc 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #ccc 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; MARGIN: 0px 5px; BORDER-LEFT: #ccc 1px solid; WIDTH: 45%; PADDING-TOP: 5px; BORDER-BOTTOM: #ccc 1px solid
}
#email {
	BORDER-RIGHT: #ccc 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #ccc 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; MARGIN: 0px 5px; BORDER-LEFT: #ccc 1px solid; WIDTH: 45%; PADDING-TOP: 5px; BORDER-BOTTOM: #ccc 1px solid
}
#url {
	BORDER-RIGHT: #ccc 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #ccc 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; MARGIN: 0px 5px; BORDER-LEFT: #ccc 1px solid; WIDTH: 45%; PADDING-TOP: 5px; BORDER-BOTTOM: #ccc 1px solid
}
#comment {
	BORDER-RIGHT: #ccc 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #ccc 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; MARGIN: 0px 5px; BORDER-LEFT: #ccc 1px solid; WIDTH: 45%; PADDING-TOP: 5px; BORDER-BOTTOM: #ccc 1px solid
}
#comment {
	OVERFLOW-Y: scroll; FONT-SIZE: 12px; WIDTH: 95%; HEIGHT: 150px
}
#submit {
	BORDER-RIGHT: #999 1px solid; PADDING-RIGHT: 20px; BORDER-TOP: #999 1px solid; PADDING-LEFT: 20px; FONT-SIZE: 14px; BACKGROUND: #f5f5f5; FLOAT: right; PADDING-BOTTOM: 4px; MARGIN: 0px 8px; BORDER-LEFT: #999 1px solid; CURSOR: pointer; PADDING-TOP: 6px; BORDER-BOTTOM: #999 1px solid
}
.friendlink {
	MARGIN: 15px auto 25px; OVERFLOW: hidden; WIDTH: 960px
}
.friendlink H3 {
	PADDING-LEFT: 12px; FONT-SIZE: 14px; COLOR: #1678d1; LINE-HEIGHT: 28px; BORDER-BOTTOM: #ddd 1px solid; HEIGHT: 28px; BACKGROUND-COLOR: #f5f5f5
}
.friendlink UL {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 12px; PADDING-TOP: 12px
}
.friendlink UL LI {
	FLOAT: left; MARGIN: 0px 5px
}
.tags {
	PADDING-RIGHT: 10px; MARGIN-TOP: 10px; PADDING-LEFT: 10px; FLOAT: left; PADDING-BOTTOM: 0px; OVERFLOW: hidden; WIDTH: 940px; LINE-HEIGHT: 22px; PADDING-TOP: 0px
}
.footer {
	BORDER-TOP: #d9d9d9 1px solid; MARGIN: 15px auto; WIDTH: 960px; COLOR: #333; TEXT-ALIGN: center
}
.footer P {
	LINE-HEIGHT: 26px
}
.footpage {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 8px; MARGIN: 0px 0px 20px; PADDING-TOP: 10px; BORDER-BOTTOM: #d9d9d9 1px solid; BACKGROUND-COLOR: #e9f9fe; TEXT-ALIGN: center
}
.footpage LI {
	PADDING-RIGHT: 5px; DISPLAY: inline; PADDING-LEFT: 12px; FONT-SIZE: 13px; PADDING-BOTTOM: 0px; BORDER-LEFT: #999 1px solid; WIDTH: 1px; PADDING-TOP: 0px; WHITE-SPACE: nowrap
}
.footpage LI.nb {
	BORDER-LEFT-STYLE: none
}
.footpage A:link {
	COLOR: #0b3779
}
.footpage A:visited {
	COLOR: #0b3779
}
.footpage A:hover {
	COLOR: #353535
}
.pages{
	text-align:center;
}
.pages a, .pages span{
	margin:2px;
	padding:2px 6px;
	border:1px solid #DDD;
	color:#0b68c9;
}
.pages span, .pages a:hover{
	border-color:#0b68c9;
	color:#fff;
	text-decoration:none;
	background:url(../images/bg.png) center top no-repeat;
}
.pages span font{
	color:inherit;
}

a.button_2:link,a.button_2:visited{
	display:block;
	width:77px;
	height:33px;
	line-height:33px;
	background:url(../images/button_2.png) center top no-repeat;
	border:none;
	font-weight:bold;
	cursor:pointer;
	text-align: center;
	letter-spacing: 0.5em;
	color:#FFFFFF;
}
a.button_2:hover{
	color:#FFFFFF;
	text-decoration: none;
	text-align: center;
}
.button_4{display:block;width:100px;height:33px;line-height:33px;background:url(../images/button_4.png) center top no-repeat;border:none;color:#fff;font-weight:bold;cursor:pointer;}


.currentNav a{margin-left:10px}